body {
  text-align: center;
  background-color: rgb(226, 226, 220);
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  height: 256px;
  width: 256px;
}

/* span {
  color: red;
  display: none;
} */

ul {
  list-style: none;
}
/* textarea:invalid[focused="true"]{
    border: 1px solid rgb(0, 0, 0);
}
 */
/* form validation */
/* textarea:invalid[focused="true"] ~ span {
  display: block;
} */

nav {
  /* display: block; */
  width: 100vw;
  background-color: black;
  justify-content: center;
  padding: 10px 0 10px 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
}
nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: rgb(136, 136, 136);
}

nav li a.active {
  color: rgb(142, 191, 211);
}

form h3 {
  margin-top: 10rem;
}

.aiContainer {
  min-height: 50vh;
  max-width: 80vh;
  background: rgb(214, 214, 214);
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 8rem;
}

.loader {
  margin: 100px 100px 100px 100px;
}

.inputLength {
  text-align: center;
  max-height: 40px;
  max-width: 250px;
}

.log-area {
  min-height: 75vh;
  max-height: 75vh;
  overflow: auto;
}

.chat-box {
  background-color: blanchedalmond;
  margin: 2% 5% 2% 5%;
  padding: 2% 5% 2% 5%;
  border-radius: 15px;
  text-align: left;
}

.chat-log {
  margin: 2% 5% 2% 5%;
  display: flex;
  position: sticky;
}

.fa-solid {
  size: 40px;
  margin-right: 2%;
}

.chatbot-input-button {
  margin: 1%;
}
